<div class="cookie-bar">
  <div class="cookie-bar-closer"><button class="btn btn-link" (click)="select(false)">Schließen</button></div>
  <p>
    Diese Website verwendet Cookies – nähere Informationen dazu und zu Ihren Rechten als Benutzer finden Sie in unserer <a [routerLink]="privacyTermsTarget">Datenschutzerklärung</a> am Ende der Seite. Klicken Sie auf „Ich stimme zu“, um Cookies zu akzeptieren und direkt unsere Website besuchen zu können.
    <button (click)="select(true)" class="btn btn-success">Ich stimme zu</button>
  </p>
</div>
