<header>
    <nav id="mainNav" class="navbar navbar-light" [class.small]="isScrolledDown">
        <a class="navbar-brand" routerLink="/" aria-label="Link zur Startseite" title="Link zur Startseite">
            <img src="assets/abi_logo.png" alt="Logo des Abenteuerspielplatzes Möglingen e.V.">
        </a>

        <div class="burger" [class.open]="menuOpen" (click)="menuOpen = !menuOpen">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="mobile-nav-wrapper">
            <div class="mobile-nav" [class.open]="menuOpen">
                <ul class="justify-content-end">
                    <li class="list-item">
                        <a class="nav-link" routerLink="/aktuelles" (click)="menuOpen = false"
                           href="javascript: void(0)">Aktuelles</a>
                    </li>
                    <li class="list-item" *ngFor="let section of sections">
                        <a class="nav-link" routerLink="/start" [fragment]="section.anchor" (click)="menuOpen = false"
                           href="javascript: void(0)">{{section.title}}</a>
                    </li>
                    <li class="list-item">
                        <a class="nav-link" routerLink="/start" [fragment]="'oeffnungszeiten'"
                           (click)="menuOpen = false" href="javascript: void(0)">Öffnungszeiten</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="spacer"></div>
</header>

<router-outlet></router-outlet>

<footer>
    <nav class="navbar navbar-light py-5">
        <span>Copyright &copy; {{currentYear$ | async}} Abenteuerspielplatz Möglingen. Alle Rechte vorbehalten.</span>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" routerLink="/impressum" href="javascript: void(0)">Impressum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/datenschutz" href="javascript: void(0)">Datenschutz</a>
            </li>
        </ul>
    </nav>
    <abi-cookie-bar (accepted)="cookiesAccepted($event)" [privacyTermsTarget]="'datenschutz'"></abi-cookie-bar>
</footer>
