<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/abi_logo.png">
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item" *ngFor="let section of sections">
        <a class="nav-link" routerLink="/index.html" [fragment]="section.anchor" href="javascript: void(0)">{{section.title}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/index.html" [fragment]="'oeffnungszeiten'" href="javascript: void(0)">Öffnungszeiten</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <nav class="navbar navbar-light py-5">
    <span>Copyright &copy; 2019 Abenteuerspielplatz Möglingen. Alle Rechte vorbehalten.</span>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['kontakt.html']" href="javascript: void(0)">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['impressum.html']" href="javascript: void(0)">Impressum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['datenschutz.html']" href="javascript: void(0)">Datenschutz</a>
      </li>
    </ul>
  </nav>
</footer>
