<div class="page page--highlight">
    <div class="row">
        <div class="col-12 col-lg-8">
            <abi-slider [sliderData]="sliderData" [isHero]="true"></abi-slider>
        </div>

        <div class="col-12 col-lg-4">
            <div class="box">
                <h5>Aktuelles</h5>
                <div class="bullet"></div>
                <ul *ngFor="let news of latestNews">
                    <li><strong>{{news.title}}</strong><br><span><a routerLink="/aktuelles"
                                                                    [fragment]="news.anchor">&raquo; weiterlesen</a></span>
                    </li>
                </ul>
            </div>

            <div class="box">
                <h5>Termine</h5>
                <ul *ngFor="let appt of appointments">
                    <li><strong>{{appt.date}}</strong><br><span>{{appt.title}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-container *ngFor="let section of sections; let pIdx = index">
    <abi-page [section]="section" [even]="pIdx % 2 === 0"></abi-page>
</ng-container>

<div class="page even mt-5">
    <section class="container" [id]="'oeffnungszeiten'">
        <div class="row">
            <div class="col-12 col-md-6" *ngFor="let footer of footerPages">
                <h3>{{footer.title}}</h3>
                <ng-container *ngFor="let content of footer.content">
                    <ctf-rich-content [content]="content"></ctf-rich-content>
                </ng-container>
            </div>
        </div>
    </section>
</div>
