<div class="page page--small">
  <section class="container">
    <h1>Impressum</h1>

    <h3>Anschrift</h3>
    <p>
      Bürgeraktion Abenteuerspielplatz Möglingen e.V. (ABI)<br>
      Hohenzollernstraße 30<br>
      71696 Möglingen<br>
    </p>

    <p>
      Vereinsregister Nr. 661 beim Amtsgericht Ludwigsburg<br>
      Steuer-Nr. 71495 / 01183
    </p>

    <h3>Spendenkonto</h3>
    <p>
      IBAN: DE80 6046 2808 0037 6000 01<br>
      BIC: GENODES1AMT<br>
    </p>

    <h3>Haftungsausschluss</h3>
    <p>
      Inhaltlich Verantwortlicher gemäß § 6 MDStV: Marina Schmautz<br>
      Webmaster: Albert Moosmann webmaster@alundal.de<br>
      Verantwortlich für den Inhalt der Artikel: Die genannten Autoren<br>
      Gestalterische Umsetzung: Andre Ufer<br>
    </p>
  </section>
</div>
