
.hero {
  min-height: 100vh;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;

    .caption {
      display: inline-block;
      position: absolute;
      padding: 1.5rem 3rem;
      opacity: 1;
      background: rgba(255,255,255, 0.8);
      top: 55%;
      z-index: 5;

      transition: opacity 0.2s ease-in-out;

      &.changing {
        opacity: 0;
      }

      @include media-breakpoint-down(md) {
        h2 { font-size: 1.25rem; }
        p { font-size: 1rem; }
      }

      @include media-breakpoint-up(xl) {
        bottom: auto;
        top: 60%;
        transform: translateX(10%);
        transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;

        &.changing {
          transform: translateX(-1000%);
        }
      }
    }

  }

  .hero-background {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    top: 0;
    right: 0;
    background: no-repeat center;
    background-size: cover;
    z-index: 1;
    transition: background-image 1.5s ease-in-out 0.25s,opacity 1s ease-in-out 2s;
    -moz-transition: background-image 1.5s ease-in-out 0.25s,opacity 1s ease-in-out 2s;
    opacity: 1;
  }

  .scroll-hint {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    z-index: 5;

    a {
      color: #fff;
      font-size: 1.75rem;
      font-weight: lighter;
      animation: wobble 5s infinite;
    }
  }

  @include media-breakpoint-up(xl) {
    .hero-background {
      height: calc(100% - 113px);
    }
  }
}

@keyframes wobble {
  0% {opacity: 1;}
  80% {opacity: 0}
  100% {opacity: 1;}
}
