nav {
    a.nav-link {
        color: $color-accent;
        font-size: 100%;
        transition: 100ms color linear;

        &:hover {
            color: $color-font-highlight;
        }
    }
}

$nav-height-mobile: 60px;
$nav-height-desktop: 113px;

#mainNav {
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0px;
    overflow: hidden;
    z-index: 10;
    height: $nav-height-mobile;
    width: 100%;
    transition: height 300ms linear;

    @include media-breakpoint-up(xl) {
        height: $nav-height-desktop;

        &.small {
            height: $nav-height-mobile;

            ul li {
                padding: 0 0.5rem !important;
            }
        }
    }

    .navbar-brand {
        height: 100%;

        img {
            height: 100%;
            width: auto;
        }
    }

    + .spacer {
        height: $nav-height-mobile;

        @include media-breakpoint-up(xl) {
            height: $nav-height-desktop;
        }
    }

    .mobile-nav-wrapper {
        position: relative;
        z-index: 1000;
    }

    .mobile-nav {
        background-color: $color-accent2;
        position: fixed;
        transform: translateX(101%);
        top: $nav-height-mobile;
        bottom: 0;
        right: 0;
        max-width: 100%;
        transition: transform 400ms ease-in-out 100ms;

        &.open {
            transform: translateX(0);
            transition: transform 400ms ease-in-out;

            ul {
                opacity: 1;
                transition: opacity 200ms ease-in 200ms;
            }

            li {
                right: 0;
                transition: right 400ms ease-in;

                @for $i from 1 through 10 {
                    &:nth-of-type(#{$i}) {
                        transition-delay: #{$i * 20}ms;
                    }
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            opacity: 0;
            transition: opacity 400ms ease-out 0ms;

            li {
                padding: 0.25rem 2rem;
                border-bottom: 1px solid $color-accent2-light;
                position: relative;
                right: -100%;
                transition: right 400ms ease-out, padding 300ms linear 0ms;

                @for $i from 10 through 1 {
                    &:nth-of-type(#{$i}) {
                        transition-delay: #{$i * 20}ms;
                    }
                }

                a {
                    color: $color-accent2-lighter;
                    padding: 0.25rem;
                    font-size: 80%;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }

        @include media-breakpoint-up(xl) {
            background: none;
            top: 0;
            bottom: auto;

            left: 10%;
            transform: translateX(0);

            ul {
                display: flex;
                line-height: 400%;
                padding-right: 4px;
                opacity: 1;

                li {
                    border: none !important;
                    display: inline-block;
                    padding: 1.25rem 0.5rem;
                    right: 0;

                    a {
                        color: $color-accent;
                        text-transform: uppercase;

                        &:hover {
                            color: $color-accent;

                            &:after {
                                content: '';
                                display: block;
                                border-bottom: 1px solid $color-accent !important;
                                position: relative;
                                top: -10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
