$color-white: #fff;

$color-main: #f4ac20;
$color-main: #ff9e00;
$color-main-light: #FEF7EA;
$color-font-highlight: #f6a232;

$color-accent: #4970B7;
$color-accent-light: #a4b7db;

$color-accent2: #423a37;
$color-accent2-light: #8b7a74;
